extends: default

ignore: |
  shim/target/

rules:
  document-start: disable
  line-length: disable
  comments:
    min-spaces-from-content: 1
  truthy:
    allowed-values:
      - "true"
      - "false"
      - "on"
  empty-lines:
    max-end: 1
